<a href="https://colab.research.google.com/github/aghapygad336/Fake-and-real-news/blob/master/Fake_and_real_news_dataset_Classifying_the_news.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Dense

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from collections import Counter

In [32]:
!pip install pyspark==2.4.5
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))
spark = SparkSession \
    .builder \
    .getOrCreate()

Collecting pyspark==2.4.5
  Downloading https://files.pythonhosted.org/packages/9a/5a/271c416c1c2185b6cb0151b29a91fff6fcaed80173c8584ff6d20e46b465/pyspark-2.4.5.tar.gz (217.8MB)
     |████████████████████████████████| 217.8MB 33kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 39.7MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.5-py2.py3-none-any.whl size=218257927 sha256=d5600b4d2053bdfd3a5f5db1faf0486fe95c3cc4260548f499b8e70d360ab0a8
  Stored in directory: /root/.cache/pip/wheels/bf/db/04/61d66a5939364e756eb1c1be4ec5bdce6e04047fc7929a3c3c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.5

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
import nltk
nltk.download('stopwords')
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
print(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [26]:
def cleanDF(df):
    df.drop(['date', 'title'], axis=1, inplace=True)
    df.text = df.text.str.lower()
    df.text = df.text.str.replace(r'http[\w:/\.]+','<URL>') # remove urls
    df.text = df.text.str.replace(r'[^\.\w\s]','') #remove everything but characters and punctuation
    df.text = df.text.str.replace(r'\.\.+','.') #replace multple periods with a single one
    df.text = df.text.str.replace(r'\.',' . ') #replace multple periods with a single one
    df.text = df.text.str.replace(r'\s\s+',' ') #replace multple white space with a single one
    df.text = df.text.str.strip() 
    print(df.shape)
    df.head()
    return df

In [27]:
True_df = pd.read_csv('/content/drive/My Drive/ask/FakeNews/True.csv')
True_df.head()

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [28]:
True_df=cleanDF(True_df)
True_df.head()

(21417, 2)

                                                text       subject
0  washington reuters the head of a conservative ...  politicsNews
1  washington reuters transgender people will be ...  politicsNews
2  washington reuters the special counsel investi...  politicsNews
3  washington reuters trump campaign adviser geor...  politicsNews
4  seattlewashington reuters president donald tru...  politicsNews

In [29]:
Fake_df = pd.read_csv('/content/drive/My Drive/ask/FakeNews/Fake.csv')
Fake_df.head()

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [30]:
Fake_df=cleanDF(Fake_df)
Fake_df.head()

(23481, 2)

                                                text subject
0  donald trump just couldn t wish all americans ...    News
1  house intelligence committee chairman devin nu...    News
2  on friday it was revealed that former milwauke...    News
3  on christmas day donald trump announced that h...    News
4  pope francis used his annual christmas day mes...    News

In [34]:
Fake_df['CLASS'] = 0
Fake_df

                                                    text      subject  CLASS
0      donald trump just couldn t wish all americans ...         News      0
1      house intelligence committee chairman devin nu...         News      0
2      on friday it was revealed that former milwauke...         News      0
3      on christmas day donald trump announced that h...         News      0
4      pope francis used his annual christmas day mes...         News      0
...                                                  ...          ...    ...
23476  21st century wire says as 21wire reported earl...  Middle-east      0
23477  21st century wire says it s a familiar theme ....  Middle-east      0
23478  patrick henningsen 21st century wireremember w...  Middle-east      0
23479  21st century wire says al jazeera america will...  Middle-east      0
23480  21st century wire says as 21wire predicted in ...  Middle-east      0

[23481 rows x 3 columns]

In [35]:
True_df['CLASS'] = 1
True_df

                                                    text       subject  CLASS
0      washington reuters the head of a conservative ...  politicsNews      1
1      washington reuters transgender people will be ...  politicsNews      1
2      washington reuters the special counsel investi...  politicsNews      1
3      washington reuters trump campaign adviser geor...  politicsNews      1
4      seattlewashington reuters president donald tru...  politicsNews      1
...                                                  ...           ...    ...
21412  brussels reuters nato allies on tuesday welcom...     worldnews      1
21413  london reuters lexisnexis a provider of legal ...     worldnews      1
21414  minsk reuters in the shadow of disused soviete...     worldnews      1
21415  moscow reuters vatican secretary of state card...     worldnews      1
21416  jakarta reuters indonesia will buy 11 sukhoi f...     worldnews      1

[21417 rows x 3 columns]

In [39]:
Fake_df['subject'].unique()

array(['News', 'politics', 'Government News', 'left-news', 'US_News',
       'Middle-east'], dtype=object)